@mixin formatFont($family, $size, $weight, $height, $fontColor){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $fontColor;
}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}