.footer{
    height: 120px;
    box-shadow: 0px 0px 6px #00000045;
    .container{
        height: 100%;
        @include flexCenter();
        p{
            @include formatFont($primaryFont, 20px, 400, 28px, $greyFooterColor);
            margin-bottom: 0;
        }
    }
}